@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@import './fontawesome/css/all.min.css';
@import './fontawesome/css/v5-font-face.min.css';

:root {
  /* latte */
  --base: #eff1f5;
  --mantle: #e6e9ef;
  --crust: #dce0e8;
  --surface0: #ccd0da;
  --surface1: #bcc0cc;
  --surface2: #acb0be;
  --overlay0: #9ca0b0;
  --overlay1: #8c8fa1;
  --overlay2: #7c7f93;
  --subtext0: #6c6f85;
  --subtext1: #5c5f77;
  --text: #4c4f69;
  --lavender: #7287fd;
  --blue: #1e66f5;
  --sapphire: #209fb5;
  --sky: #04a5e5;
  --teal: #179299;
  --green: #40a02b;
  --yellow: #df8e1d;
  --peach: #fe640b;
  --maroon: #e64553;
  --red: #d20f39;
  --mauve: #8839ef;
  --pink: #ea76cb;
  --flamingo: #dd7878;
  --rosewater: #dc8a78;
  color-scheme: light;

  /* macchiato */
  --base: #24273a;
  --mantle: #1e2030;
  --crust: #181926;
  --surface0: #363a4f;
  --surface1: #494d64;
  --surface2: #5b6078;
  --overlay0: #6e738d;
  --overlay1: #8087a2;
  --overlay2: #939ab7;
  --subtext0: #a5adcb;
  --subtext1: #b8c0e0;
  --text: #cad3f5;
  --lavender: #b7bdf8;
  --blue: #8aadf4;
  --sapphire: #7dc4e4;
  --sky: #91d7e3;
  --teal: #8bd5ca;
  --green: #a6da95;
  --yellow: #eed49f;
  --peach: #f5a97f;
  --maroon: #ee99a0;
  --red: #ed8796;
  --mauve: #c6a0f6;
  --pink: #f5bde6;
  --flamingo: #f0c6c6;
  --rosewater: #f4dbd6;
  color-scheme: dark;

  --background-pane-color: var(--base);
  --secondary-pane-color0: var(--crust);
  --secondary-pane-color1: var(--mantle);
  --surface-color0: var(--surface0);
  --surface-color1: var(--surface1);
  --surface-color2: var(--surface2);
  --overlay-color0: var(--overlay0);
  --overlay-color1: var(--overlay1);
  --overlay-color2: var(--overlay2);

  --text-color: var(--text);
  --headline-color: var(--text);
  --subtext-color0: var(--subtext0);
  --subtext-color1: var(--subtext1);
  --subtle-color: var(--overlay1);

  --link-color: var(--blue);
  --link-hover-color: var(--peach);
  --accent-color: var(--peach);
  --success-color: var(--green);
  --warning-color: var(--yellow);
  --error-color: var(--red);

  --tag-color: var(--blue);
  --selection-background-color: rgb(from var(--overlay2) r g b / 0.25);
  --cursor-color: var(--rosewater);

  accent-color: var(--accent-color);
}

/** routes/__root.css */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: var(--background-pane-color);
  color: var(--text-color);
  caret-color: var(--cursor-color);
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

::selection {
  background-color: var(--selection-background-color);
  color: var(--text-color);
}

::spelling-error {
  text-decoration: underline wavy var(--error-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  &:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
  }
  &:focus-visible {
    outline: 2px solid var(--accent-color);
    border-radius: 0.25rem;
  }
}

h2,
h3,
h4,
label {
  color: var(--subtext-color0);
}

h5,
h6 {
  color: var(--subtext-color1);
}

fieldset {
  border-color: var(--surface-color2);
  color: var(--text-color0);
}

label {
  display: block;
  margin: 0.5rem 0;
}

input:not(
    [type='radio'],
    [type='checkbox'],
    [type='submit'],
    [type='reset'],
    [type='button']
  ),
textarea {
  appearance: none;
  background-color: var(--surface-color0);
  border: 1px solid var(--surface-color2);
  border-radius: 0.25rem;
  color: var(--text-color);

  &::selection {
    background-color: var(--accent-color);
    color: var(--background-pane-color);
  }

  &::placeholder {
    color: var(--subtle-color);
  }

  &:hover {
    border-color: var(--overlay-color1);
  }

  &:focus,
  &:focus-visible {
    border-color: var(--accent-color);
    outline: 1px solid var(--accent-color);
  }

  &::-webkit-calendar-picker-indicator {
    background-image: none;
    mask: url('calendar.svg') no-repeat center/70%;
    background-color: var(--subtext-color1);
  }

  &::-webkit-calendar-picker-indicator:focus {
    background-color: var(--accent-color);
    outline: none;
  }

  &::-webkit-calendar-picker-indicator:hover {
    background-color: var(--text-color);
  }

  &::-webkit-datetime-edit-month-field:focus,
  &::-webkit-datetime-edit-day-field:focus,
  &::-webkit-datetime-edit-year-field:focus,
  &::-webkit-datetime-edit-week-field:focus,
  &::-webkit-datetime-edit-hour-field:focus,
  &::-webkit-datetime-edit-minute-field:focus,
  &::-webkit-datetime-edit-ampm-field:focus {
    background-color: var(--accent-color);
    color: var(--background-pane-color);
  }

  .datetime-edit-field:focus {
    background-color: var(--accent-color);
    color: var(--background-pane-color);
  }
}

button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  appearance: none;
  background-color: var(--surface-color1);
  border: 2px solid var(--surface-color1);
  border-radius: 0.25rem;
  color: var(--text-color0);

  &:hover {
    background-color: var(--surface-color2);
    border: 2px solid var(--surface-color2);
  }

  &:active {
    background-color: var(--surface-color0);
    border: 2px solid var(--surface-color0);
  }
  &:focus {
    outline: none;
  }
  &:focus-visible {
    border: 2px solid var(--accent-color);
    outline: none;
  }
}

input[type='checkbox'],
input[type='radio'] {
  appearance: none;
  margin-bottom: 0;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border: 2px solid var(--surface-color1);
  box-shadow: inset 0 0 0 2px transparent;

  &:hover {
    border: 2px solid var(--overlay-color2);
  }

  &:focus-visible {
    border: 2px solid var(--overlay-color2);
    outline: 1px solid var(--accent-color);
    outline-offset: 2px;
  }

  &:checked {
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
    box-shadow: inset 0 0 0 2px var(--surface-color0);
  }
}

input[type='checkbox'] {
  border-radius: 0.25rem;
}

select {
  background-color: var(--surface-color0);
  border: 1px solid var(--surface-color2);
  border-radius: 0.25rem;
  color: var(--text-color);

  &::selection {
    background-color: var(--accent-color);
    color: var(--background-pane-color);
  }

  &:hover {
    border-color: var(--overlay-color1);
  }

  &:focus-visible {
    border: 1px solid var(--accent-color);
    outline: 1px solid var(--accent-color);
  }
}

progress {
  appearance: none;
  background-color: var(--surface-color0);
  border-radius: 0.5rem;
  border: 1px solid var(--surface-color2);

  &::-webkit-progress-bar {
    background-color: var(--surface-color0);
    border-radius: 0.5rem;
    /* border: 1px solid var(--surface-color2); */
  }
  &::-webkit-progress-value {
    background-color: var(--accent-color);
    border-radius: 0.5rem;
  }
  &::-moz-progress-bar {
    background-color: var(--accent-color);
    border-radius: 0.5rem;
  }
}

#main-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 0;

  main {
    padding: 1rem;
    flex: 1;
    overflow: auto;
  }
}

/** routes/books/index.css */
.books {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 1rem;
}

/** components/navigation.css */
#main-container {
  nav {
    background-color: var(--secondary-pane-color0);

    min-width: 10rem;
    overflow: auto;

    menu {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        font-size: 1.25rem;

        a {
          display: block;
          padding: 0.5rem 1rem;
          text-decoration: none;
          color: var(--text-color);
          &:hover,
          &.active {
            background-color: var(--background-pane-color);
          }

          &:hover {
            color: var(--link-hover-color);
          }

          &:focus-visible {
            outline-offset: -2px;
          }

          &::before {
            font-family: 'Font Awesome 5 Free';
            font-weight: bold;
            margin-right: 0.5rem;
          }
        }
        &.book-list a::before {
          content: '\f02d';
        }
        &.series-list a::before {
          content: '\f0cb';
        }
        &.author-list a::before {
          content: '\f007';
        }
        &.tag-list a::before {
          content: '\f02c';
        }
        &.style-guide a::before {
          content: '\f87d';
        }
        &.upload a::before {
          content: '\f093';
        }
      }
    }
  }
}

/** components/header.css */
header {
  background-color: var(--secondary-pane-color0);

  padding: 0rem 1rem;
  flex: 0;
  align-items: center;
  justify-content: space-between;
  display: flex;

  h1 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    flex: 1;
    font-family: 'Playwrite IT Moderna', serif;
    color: var(--peach);

    &::before {
      font-family: 'Font Awesome 5 Free';
      content: '\f518';
      margin-right: 0.5rem;
    }
  }

  form {
    text-align: center;
    flex: 1;
    input {
      width: 100%;
    }
  }

  menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
    flex: 1;
    justify-content: flex-start;
    flex-direction: row-reverse;
  }
}

/** components/books/book-summary.css */
.book-summary {
  display: flex;
  width: 150px;
  flex-flow: column nowrap;
  gap: 0.25rem;
  /* min-height: 17rem; */

  img {
    width: 100%;
  }

  .title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
  }

  .author {
    font-size: 0.75rem;
    font-weight: normal;
  }

  & > a {
    text-decoration: none;
    color: var(--text-color);
    &:hover {
      color: var(--link-hover-color);
    }
  }
}

/** OTHER CSS */
.upload-target {
  width: 100%;
  height: 10rem;
  line-height: 10rem;
  overflow: hidden;
  background-color: var(--secondary-pane-color0);
  color: var(--subtext0);
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;

  &.drag-over {
    background-color: var(--overlay0);
    color: var(--text-color);
  }
}

.upload-progress {
  width: 100%;
  height: 10rem;
  line-height: 10rem;
  overflow: hidden;
  background-color: var(--secondary-pane-color1);
  color: var(--subtext0);
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;

  progress {
    height: 3rem;
    vertical-align: middle;
  }
}
