.books {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 1rem;

  .book {
    display: flex;
    width: 150px;
    flex-flow: column nowrap;
    gap: 0.25rem;

    img {
      /* display: block; */
      width: 100%;
      /* height: auto; */
      background-color: pink;
    }

    .title {
      font-weight: bold;
    }

    .author {
      font-size: 0.75rem;
      font-weight: normal;
    }
  }
}
